
body {

    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

/* estilos para los botones del menu */

.btn, .btn-primary {

    background-color:#0E9C62;
    border-color: #0E9C62;
    border-radius: 0%;
    font-size:large;
}

.btn:hover, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {

    background-color:#594038;
    border-color: #58DEA6;
}

.btn-primary:focus, .btn-primary:active, .btn-primary.active {

    box-shadow:0 0 0 0.1rem #FFB37B;
    background-color:#594038;
}

.dropdown-item:hover {

    background-color:#58DEA6;
}

.dropdown-item:focus {

    background-color:#FFB37B;
}

/* estilos para el menu en general */

.marco-menu {
    border-left: none !important;
    border-right: none !important;
    border-color: #594038 !important;
    background-color: #FDFDFD;
}

/* estilos para elementos concretos */

.articulos {

    /* background-color: #FAFAFA; */

    background: -prefix-linear-gradient(left top, #FFFFFF,#FDFDFD);
    background: linear-gradient(to bottom right, #FFFFFF, #FDFDFD);
}

.artifoto:hover {

    transform: scale(1.1);
}

/* estilos para boton de volver arriba */

#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#594038;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}

#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}

#scroll:hover {
    background-color:#e74c3c;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

/* estilos footer */

.footer {

    background-color: #0E9C62;
    color: white;
}

.titfooter {

    font-size:1.3rem;
    
}

#boton, #boton2 {

    cursor: pointer;
}
a{
    text-decoration: none;
    color:#594038
}
a:hover{
    color:#0E9C62
}

.seccion{
    width:300px;
    height: 100px;
    margin-top:10px;
    margin-left:31%;
    border-radius:2px;
    margin-bottom: 6%;
    
}
.carousel-item {
    height: 55vh;
    min-height: 200px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
      .transition {
      -webkit-transform: scale(1.8); 
      -moz-transform: scale(1.8);
      -o-transform: scale(1.8);
      transform: scale(1.8);
      }
      .carousel-item {
        width: 80%;
        height: 100%;
        margin-left:10%;
        margin-right: 8%;
      }
      .carousel-item img {
        height: 75%;
        width: 50%;
      }
      .img-fluid{
          border-radius: 4px;
      }

